<link rel="stylesheet" href="/css/Style.css">
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: white">Crear oficial</h1>
    </div>

    <div class="text-center">
        <form asp-action="GetPerson" asp-controller="CondominosPerson">
            <button class="btn btn-success" type="submit">Regresar</button>
        </form>
    </div>
    <br />
    <div class="login-wrap">
        <form asp-action="Create" asp-controller="CondominosPerson" method="post">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Crear Personas</label>

                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="Cedula" class="label">Cédula</label>
                            <input id="txtCed" type="text" name="txtCed" class="input" required>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="group">
                                    <label for="PrimerNombre" class="label">Primer Nombre</label>
                                    <input id="txtNombre1" type="text" name="txtNombre1" class="input" required>
                                </div>
                            </div>

                            <div class="col">
                                <div class="group">
                                    <label for="SegundoNombre" class="label">Segundo Nombre</label>
                                    <input id="txtNombre2" type="text" name="txtNombre2" class="input">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="group">
                                    <label for="PrimerApellido" class="label">Primer Apellido</label>
                                    <input id="txtApellido1" type="text" name="txtApellido1" class="input" required>
                                </div>
                            </div>

                            <div class="col">
                                <div class="group">
                                    <label for="SegundoApellido" class="label">Segundo Apellido</label>
                                    <input id="txtApellido2" type="text" name="txtApellido2" class="input" required>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <label for="Telefono" class="label">Telefono</label>
                            <input id="txtTelefono" type="text" name="txtTelefono" class="input" required>
                        </div>
                        <div class="group">
                            <label for="Correo" class="label">Correo</label>
                            <input id="txtCorreo" type="email" name="txtCorreo" class="input" required>
                        </div>
                        <div class="group">
                            <label for="Password" class="label">Password</label>
                            <input id="txtContra" type="Password" name="txtContra" class="input" required>
                        </div>
                        <div class="group">
                        </div>

                        
                        <!--Este input es para setear el idEmpresa-->
                        <input type="text" name="txtidempresa" value="@ViewBag.IdEmpre" hidden />

                        <!--Este input es para setear el idcond-->
                        <input type="text" name="txtidcond" value="0" hidden />
                        
                        <!--Este input es para setear el idcond-->
                        <input type="text" name="txtIdRol" value="3" hidden />
                        <!--Este input es para setear el idcas que en este caso va en 0-->
                        <input type="text" name="txtIdCas" value="0" hidden />
                        
                        <div class="group">
                        </div>

                        <div class="group">
                            <input type="submit" class="button" value="Guardar Persona">
                        </div>
                    </div>
        </form>
    </div>
    </div>
    </div>
</body>