@{
    ViewData["Title"] = "Get Oficiales de Seguridad";
}


@Html.Partial("SideBar")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/StyleHTML.css">
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: darkblue">Lista de Oficiales de Seguridad</h1>
    </div>
    <hr />
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="myInput" placeholder="name@example.com">
        <label for="myInput">Search</label>
    </div>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <hr />
    <div class="text-center">
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="display:none;">ID</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Date</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @*@foreach (var @item in @ViewBag)*@
                    @* {*@
                    <tr>
                        <td style="display:none;">item</td>
                        <td>207770863</td>
                        <td>Jose Ureña</td>
                        <td>86348556</td>
                        <td>jose@gmail.com</td>
                        <td>10/12/2022</td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Edit" asp-controller="Home" asp-route-id="item">
                                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Delete" asp-controller="Home" asp-route-id="">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="display:none;">item</td>
                        <td>105550555</td>
                        <td>Leandro Vargas</td>
                        <td>88558855</td>
                        <td>leandro@gmail.com</td>
                        <td>10/12/2022</td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Edit" asp-controller="Home" asp-route-id="item">
                                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Delete" asp-controller="Home" asp-route-id="">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="display:none;">item</td>
                        <td>102220222</td>
                        <td>Oscar Mora</td>
                        <td>88558855</td>
                        <td>Oscar@gmail.com</td>
                        <td>10/12/2022</td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Edit" asp-controller="Home" asp-route-id="item">
                                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Delete" asp-controller="Home" asp-route-id="">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="display:none;">item</td>
                        <td>103330333</td>
                        <td>Ana Laura Solis</td>
                        <td>55669966</td>
                        <td>Ana@gmail.com</td>
                        <td>10/12/2022</td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Edit" asp-controller="Home" asp-route-id="item">
                                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Delete" asp-controller="Home" asp-route-id="">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    @*}*@
                </tbody>
            </table>
        </div>
    </div>
</body>