@{
    ViewData["Title"] = "Get Oficiales de Seguridad";
}

<link rel="stylesheet" href="/css/StyleHTML.css">
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: darkblue">Lista de Oficiales de Seguridad</h1>
    </div>
    <div class="text-center">
        <form asp-action="mainmenu" asp-controller="MainMenu">
            <button class="btn btn-success" type="submit">Menú Principal</button>
        </form>
    </div>
    <br />
    <hr />
    <div class="text-center">
        <form asp-action="CreatePerson" asp-controller="CondominosPerson">
            <button class="btn btn-success" type="submit"> + Create</button>
        </form>
    </div>

    <div class="text-center">
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="display:none;">ID</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Date</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var @item in @ViewBag)*@
                    @* {*@
                    <tr>
                        <td style="display:none;">item</td>
                        <td>item</td>
                        <td>item</td>
                        <td>item</td>
                        <td>item</td>
                        <td>item</td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Edit" asp-controller="Home" asp-route-id="item">
                                    <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <form asp-action="Delete" asp-controller="Home" asp-route-id="">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    @*}*@
                </tbody>
            </table>
        </div>
    </div>
</body>


