@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Usuario en uso: @ViewBag.Session</p>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="/css/StyleNav.css">
<div class="text-center">
    <h1 style="color: darkblue">Menu Principal</h1>
</div>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>

    <div class="container">
        <p style="color:darkblue">Session: @ViewBag.Session </p>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetVisita" asp-controller="Visitas">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/visita.jpg" alt="Lights" style="width:100%">
                        </button>
                        <input type="text" name="txtUser" value="@ViewBag.Session" hidden />
                    </form>
                    <div class="text-center">
                        <h2 style=" color:darkblue">Visitas</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetVehiculos" asp-controller="Vehiculos">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/vehiculo.png" alt="Nature" style="width:100%">
                        </button>
                    </form>
                    <div class="text-center">
                        <h2 style=" color:darkblue">Vehiculos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<html>
<head>

</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="http://justinfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Stars Components
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Forms
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Quotes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>