.vs/
Proyecto.csproj.user
obj/Debug/
modified:   obj/Proyecto.csproj.nuget.dgspec.json
modified:   obj/Proyecto.csproj.nuget.g.props
modified:   obj/project.assets.json
modified:   obj/project.nuget.cache
