.vs/
Proyecto.csproj.user
obj/Debug/
obj/Proyecto.csproj.nuget.dgspec.json
obj/Proyecto.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/project.assets.json
obj/Proyecto.csproj.nuget.dgspec.json
bin/
obj/staticwebassets.pack.sentinel
