
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-dark">Menu Principal</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        
        <br> 
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/img/0.jpg" target="_blank">
                        <img src="/img/0.jpg" alt="Lights" style="width:100%">
                    </a>
                    <form asp-action="EditCondominios" asp-controller="Condominos">
                    <button type="button" class="btn btn-info d-block mx-auto">Proyecto Habitacional</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/img/Empleados.jpg" target="_blank">
                        <img src="/img/Empleados.jpg" alt="Nature" style="width:100%">
                    </a>
                    <button type="button" class="btn btn-info d-block mx-auto">Condóminos</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/img/oficiales.jpg" target="_blank">
                        <img src="/img/oficiales.jpg" alt="Fjords" style="width:100%">
                    </a>
                    <button type="button" class="btn btn-info d-block mx-auto">Oficiales de Seguridad</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




<style>
    body {
        height: 400px;
        background-color: steelblue;
        background-size: cover;
        background-repeat: repeat;
        background-position: center center;
        margin: 0;
        color: #6a6f8c;
        font: 600 16px/18px 'Open Sans',sans-serif;
        
    }

    *, :after, :before {
        box-sizing: border-box
    }

    .clearfix:after, .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }
     

    .hr {
        height: 2px;
        margin: 60px 0 50px 0;
        background: rgba(255,255,255,.2);
    }

    .foot-lnk {
        text-align: center;
    }
</style>

