@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 style="color: white">Menu Principal</h1>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>

    <div class="container">
        <p style="color:black">Session: @ViewBag.Session </p>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetCondominios" asp-controller="Condominios">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/0.jpg" alt="Lights" style="width:100%">
                        </button>
                    </form>
                    <div class="text-center">
                        <h2>Proyectos Habitacionales</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetPerson" asp-controller="CondominosPerson">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/Empleados.jpg" alt="Nature" style="width:100%">
                        </button>
                    </form>
                    <div class="text-center">
                        <h2>Condóminos</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetSecurityOfficer" asp-controller="SecurityOfficer">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/oficiales.jpg" alt="Fjords" style="width:100%">
                        </button>
                    </form>
                    <div class="text-center">
                        <h2>Oficiales de Seguridad</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




@*<style>
    body {
        height: 400px;
        background-color: white;
        background-size: cover;
        background-repeat: repeat;
        background-position: center center;
        margin: 0;
        color: #6a6f8c;
        font: 600 16px/18px 'Open Sans',sans-serif;
    }

    *, :after, :before {
        box-sizing: border-box
    }

    .clearfix:after, .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }


    .hr {
        height: 2px;
        margin: 60px 0 50px 0;
        background: rgba(255,255,255,.2);
    }

    .foot-lnk {
        text-align: center;
    }
</style>*@
