@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 style="color: darkblue">Menu Principal</h1>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>

    <div class="container">
        <p style="color:darkblue">Session: @ViewBag.Session.Name </p>
        <p style="color:darkblue">Condominio activo: @ViewBag.IdCond </p>
        <br>
        <br>
        <br>
        <br>
        
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetCondominios" asp-controller="Condominios">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/0.jpg" alt="Lights" style="width:100%">
                        </button>
 
                    </form>
                    <div class="text-center">
                        <h2 style=" color:darkblue">Proyectos Habitacionales</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetPerson" asp-controller="CondominosPerson">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/Empleados.jpg" alt="Nature" style="width:100%">
                         </button>
                        <input type="text" name="txtIdCond" value="@ViewBag.IdCond" />
                    </form>
                    <div class="text-center">
                        <h2 style=" color:darkblue">Condóminos</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <form asp-action="GetSecurityOfficer" asp-controller="SecurityOfficer">
                        <button type="submit" class="btn btn-info d-block mx-auto">
                            <img src="/img/oficiales.jpg" alt="Fjords" style="width:100%">
                        </button>
                    </form>
                    <div class="text-center">
                        <h2 style=" color:darkblue">Oficiales de Seguridad</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
