@{
    ViewData["Title"] = "Create Condominios";
}

<link rel="stylesheet" href="/css/Style.css">
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: white">Crear Condominios</h1>
    </div>
    <div class="login-wrap">

        <div class="login-html">

            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Crear Condominio</label>
            <form asp-controller="Condominios" asp-action="SaveCondominios" method="post" enctype="multipart/form-data">
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="Nombre" class="label">Nombre</label>
                            <input id="Nombre" type="text" name="txtNombre" class="input" required>
                        </div>
                        <div class="group">
                            <label for="Direccion" class="label">Dirección</label>
                            <input id="Direccion" type="text" name="txtDireccion" class="input" required>
                        </div>
                        <div class="group">
                            <label for="Telefono" class="label">Teléfono</label>
                            <input id="Telefono" type="text" name="txtPhone" class="input" required>
                        </div>

                        <div class="form-group foto" id="foto-field">
                            <label for="photo">Logo</label>
                            <input type="file" class="form-control" id="photo" name="photo" required />
                        </div>

                        <div class="group">
                            <input type="submit" class="button" value="Guardar Condominio">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>