
@{
    ViewData["Title"] = "Get Vehiculos";
}

<link rel="stylesheet" href="/css/Style.css">
<body>
	<div class="text-center">
		<h1 class="display-4" style="color: white">Lista de Visitas</h1>
	</div>
    <div class="text-center">
        <form asp-action="dasboardperson" asp-controller="DasboardPerson">
            <button class="btn btn-success" type="submit">Menú Principal</button>
        </form>
    </div>
    <br />
    <hr />
    <div class="text-center">
        <form asp-action="CreateVehiculo" asp-controller="Vehiculos">
            <button class="btn btn-success" type="submit"> + Create</button>
        </form>
    </div>



</body>

