<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
</head>
<body>

    <section class="vh-100 gradient-custom">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                           
                            <div class="mb-md-5 mt-md-4 pb-5">


                                <form asp-action="InsertCompany" asp-controller="Companies" method="POST" enctype="multipart/form-data">


                                <p class="text-white-50 mb-5">Credenciales de la empresa</p>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="txtNombre" id="txtNombre" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Nombre Empresa</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="txtDirrec" id="txtDirrec" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Dirección</label>
                                </div>

                                <div class="row">

                                    <div class="col">
                                        <div class="form-outline form-white mb-4">
                                            <input type="text" name="txtCedJur" id="txtCedJur" class="form-control form-control-lg" />
                                            <label class="form-label" for="typeEmailX">Cédula Juridica</label>
                                        </div>

                                    </div>

                                    <div class="col">
                                        <div class="form-outline form-white mb-4">
                                            <input name="txtTelefono" type="text" id="txtTelefono" class="form-control form-control-lg" />
                                            <label class="form-label" for="typeEmailX">Teléfono</label>
                                        </div>

                                    </div>



                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="txtCorreo" id="txtCorreo" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Correo</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" name="txtContra" id="txtContra" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Contraseña</label>
                                </div>

                                <label class="form-label" for="typeEmailX">Logo</label>
                                <div class="file-upload-wrapper">
                                        <input type="file" name="logo" class="form-control" />
                                 </div>




                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Olvidó la contraseña?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Ingresar</button>

                                </form>

                            </div>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
