@{
    ViewData["Title"] = "Get Personas";
}

<link rel="stylesheet" href="/css/Style.css">
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: white">Lista de Personas</h1>
    </div>

</body>


